$desktop-contentwidth: 1180px;

$color-black: #000;
$color-white: #fff;
$color-background-lightblue: #f5f9fc;
$color-orange: #EE6325;
$color-text-gray: #bfc3c6;
$color-text-darkgrey: #767676;
$color-star: #f59f08;
$color-heart: #f43a29;
$color-hr: #f0f0f0;